/**
 * (c) Made by David H. Montgomery, from Adam Lange's modification of Ian Young's work 2009. Also contains code by Mark Root-Wiley.
 * This stylesheet is under a Creative Commons BY-SA license. This means you are free to
 * use it however you like, provided you retain this copyright notice and credit the
 * author(s) in any derivative work.
 * You can find more details at <http://creativecommons.org/licenses/by-sa/3.0/us/>
 */

/*@import url('https://www.grinnellplans.com/styles/starter_defaults.css');

/* Base font and color settings */
body {
	background-color: #ffffff;
	margin-top: 0.2em;
	color: #39c014;
	font-family: Garamond;
}

/* Links in general are bold, and gray unless otherwise specified */
a {
	text-decoration: none;
	font-weight: bold;
	color: #000fff;
}
/* Underline links when hovering */
a:hover {
	text-decoration: underline;
}
/* Clear out list styling */
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Change the appearance of horizontal rules */
hr {
	border-top: 3px solid #3aa12c;
	border-style: solid;
}

#main h1, #main h2, #main h3 {
	color: #000000;
}

/* Style form inputs specially */
.textinput input, .passwordinput input, button {
	background-color: #ffffff;
	border: 1px solid #3aa12c;
	color: #000000;
	font-weight: bold;
	margin-left: 0.1em;
}
textarea {
	padding: 0.3em;
	color: #000000;
	background-color: #ffffff;
	border-top-width: 3px;
	border: 3px solid #3aa12c;
}
.form_prompt {
	color: #000000;
}
.prompt_label, .promptset_label {
	font-weight: bold;
}

/* Don't show the logo */
#logo {
	display: none;
}

/* Style the finger form */
#finger {
	float: left;
}
#finger * div {
	float: left;
}
#finger input, #finger button {
	font-size: 0.73em;
}

/* Style the links panel */
#links {
	font-size: 1.4em;
	margin-top: 0.15em;
}
#links a {
	color: #3aa12c;
}

#links ul li {
	float: left;
	margin-left: 1em;
}
/* No headings in the nav panel */
#links h2, #autoread h2 {
	display: none;
}

/* Style the autoread list */ 
#autoread {
	margin-top: 0.5em;
	float: left;
	clear: left;
	font-size: 0.85em;
}
/* Each level gets its own line */
.autoreadlevel {
	float: left;
	clear: left;
}
.autoreadname {
	margin-right: 0.5em;
}
/* Float the various contents of each level left */
.autoreadlevel ul, .autoreadname {
	float: left;
}

.autoreadlink {
	font-weight: bold;
}
.autoreadentry {
	float: left;
	clear: none;
	margin-left: 0.5em;
}
/* Color the autoread links */
.autoreadname a {
	color: #3aa12c;
}
.autoreadentry a {
	color: #000000;
}
.autoreadentry a:visited {
	color: #030337;
}
.autoreadentry.even:before,.autoreadentry.odd:before { content: "["; } 
.autoreadentry.even:after,.autoreadentry.odd:after { content: "]"} 

/* The main content div */
#main {
	float: left;
	width: 100%;
	margin: 1em 0em 2em 0em;
	clear: both;
	color: #000000;
}
/* And use different margins when it's someone's plan */
body.plan #main {
	margin: 0.5em 0em 0.5em 0em;
}
/* Make sure forms get the height of their floated contents */
#main form {
	overflow: auto;
}
/* Usually float form buttons left */
#main button {
	float: left;
	clear: both;
}


/* Style the header at the top of plans */
#header .title {
	color: #3aa12c;
}
#header .value {
	color: #000000;
}
/* Float items in the header next to each other */
#header li {
	float: left;
	margin-right: 1em;
}
/* Make sure we get the height of floating elements inside */
#header {
	overflow: auto;
	width: 100%;
}

/* Position the footer and make it smallish */
#footer {
	clear: both;
	font-size: 0.8em;
}

/* Make everything in the footer gray */
#footer {
	color: #7e7e7e;
}
#footer a {
	color: #3aa12c;
}

/* Positioning for the "Do you read..." bit */
#justupdated {
	float: left;
	clear: left;
	font-size: 0.9em;
	margin-bottom: 1em;
}
/* And clear the legal stuff below that */
#legal {
	clear: left;
}


/* Style the plan itself */
.plan_text {
	padding: 1em;
	margin: 0.2em 0em 0em 0em;
	color: #000000;
	border: 3px solid #3aa12c;
}
/* planlove links */
.plan_text .planlove {
	color: #1aae3d;
}
.plan_text .planlove:visited {
	color: #127029;
}

/* The 'add to autoread' form at the bottom of plans */
#autoreadadd {
	margin-top: 1em;
}
#autoreadadd .submitinput {
	float: left;
	margin-left: 0.8em;
}
#autoreadadd .formitemset {
	float: left;
}

/* Style the edit plan form */
#editform {
	float: left;
}
/* Float the submit button right */
#editform button {
	clear: right;
	float: right;
	margin: 0.2em 0em;
}
/* Not even gonna try to make right float work on IE6 */
* html #editform button {
	float: left;
}
/* The plan fill meter on the edit page */
#edit_fill_meter {
	margin: 0.2em 0em;
	float: left;
}
#edit_fill_meter .fill_bar {
	/* Position the meter */
	float: left;
	width: 100px;
	height: 1em;
	/* Don't use the default styling */
	background-image: none;
	background-color: #2e2f2e;
	border: 1px solid #3aa12c;
}
#edit_fill_meter .full_amount {
	background: #3aa12c;
	height: 1em;
}
/* Style the numeric fill indicator */
#edit_fill_meter .fill_percent {
	float: left;
	padding-left: 0.3em;
	color: #3aa12c;
	font-weight: bold;
}
/* Settings for the "red zone" */
#edit_fill_meter.danger .fill_bar {
	border-color: #fa2108;
}
#edit_fill_meter.danger .full_amount {
	background-image: none;
	background-color: #0ff;
}
#edit_fill_meter.danger .fill_percent {
	color: #fa2108;
}

/* A bit of pretty grouping for search results */
#search_results .result_user_group {
	margin-top: 1em;
}
#search_results .result_sublist li {
	margin-top: 1em;
}

#search_results li {
	border-bottom: 1px solid #3aa12c;
}
#search_results a+span:before { content: "("; }
#search_results a+span:after { content: ")"; }

/* Dumb ol' IE6 */
* html #search_results {
	clear: left;
}

.secret {
	margin-top: 1em;
	border-style: solid;
	border-width: 3px;
}
.secret span {
	font-weight: bold;
	color: #ff7a00;
}


/**
 * Some styling that almost all styles will want
 */

/* Display the long version of dates in the plan header */
.short {
	display: none;
}

/* Float items within a set next to each other */
.formitemset .form_prompt, .formitemset .formitemset_label {
	float: left;
	clear: none;
}
/* But in general, clear prompts to their own line */
.formitemset, .form_prompt {
	clear: left;
}
/* Keep text and textarea labels above the prompt */
.textareainput label, .textinput label, .passwordinput label {
	display: block;
}

/* float the Read button next to the finger form */
#finger .form_prompt {
	float: left;
}
/* float the submit button next to the add plan form */
#autoreadadd .submitinput {
	float: left;
	clear:none;
}

/* Styling for the fill meter when editing */
#edit_fill_meter .fill_bar {
	background: url("https://www.grinnellplans.com/images/old/unfilled.gif");
	float: left;
	width: 100px;
	height: 16px;
}
#edit_fill_meter .full_amount {
	background: url("https://www.grinnellplans.com/images/old/filled.gif");
	height: 1em;
	/* Default to no width if javascript is turned off */
	width: 0%;
}
#edit_fill_meter .fill_percent {
	float: left;
}
#edit_fill_meter.danger .full_amount {
	background: url("https://www.grinnellplans.com/images/old/danger.gif");
}

/* Some styling with small icons for various messages */
.alertmessage, .infomessage, .requestmessage {
	padding: 0.4em;
}
.alertmessage .title {
	height: 16px;
	display: block;
	font-style: italic;
	font-weight: bold;
	padding-left: 20px;
	padding-bottom: 0.3em;
	background: url("https://www.grinnellplans.com/images/icons/famfamfam/exclamation.png") no-repeat left center;
}
.infomessage .body, .requestmessage .body {
	padding-left: 20px;
}
.infomessage .title, .requestmessage .title {
	display: none;
}
.infomessage .body {
	background: url("https://www.grinnellplans.com/images/icons/famfamfam/information.png") no-repeat left center;
}
.requestmessage .body {
	background: url("https://www.grinnellplans.com/images/icons/famfamfam/help.png") no-repeat left center;
}
/* IE screws up the background image positioning when we span more than one line, so hack IE7... */
*:first-child+html .infomessage .body {
	background: url("https://www.grinnellplans.com/images/icons/famfamfam/information.png") no-repeat left 8px;
}
*:first-child+html .requestmessage .body {
	background: url("https://www.grinnellplans.com/images/icons/famfamfam/help.png") no-repeat left 8px;
}
/* ...and just hide them altogether for IE6 */
* html .infomessage .body, * html .requestmessage .body, * html .alertmessage .title {
	background-image: none;
	padding-left: 0;
}

/* Float the poll options so the result numbers will line up with them */
.polloption .form_prompt {
	display: block;
	float: left;
	width: 20em;
}

/* Float the new thread link left */
#notes_new_thread {
	float: left;
}
/* Center the nav stuff */
.notes_header {
	width: 100%;
	text-align: center;
	border-bottom: 3px solid #3aa12c;
}
/* Put some whitespace in between nav elements */
.notes_header .oldest {
	margin-left: 0.4em;
}
.notes_header .newest {
	margin-right: 0.4em;
}
.notes_header .newer, .notes_header .older, .notes_header .even_newer, .notes_header .even_older, .notes_header .current {
	margin: 0em 0.2em;
}
/* Hide inactive nav elements */
.notes_header .disabled {
	display: none;
}
/* Except the first and last arrows */
.notes_header .newest, .notes_header .oldest {
	display: inline;
}

/* Line up notes post stuff in a sensible fashion */
.notes_post_header .post_id {
	width: 4em;
	float: left;
}
.notes_post_header .post_author {
	float: left;
	width: 7em;
}
.notes_post_header .post_date {
	float: left;
}
.notes_post_header .post_votes {
	float: right;
}
.notes_post_content {
	clear: both;
}
.notes_post_header {
	border-bottom: 1px dotted #3aa12c;
}
#notes_board .odd td {
	background-color: #eeeded; color: black;
}
#notes_board .even td {
	background-color: #dad9d9; color: black;
}